body         {font-size: 10pt; color: #000000; font-weight: bold; background-color:#4698D3 }
a:active     { color: #FF9999; font-size:11pt; font-weight:bold; text-decoration:none }
a:hover      { color: #FF0000; font-size:11pt; font-weight:bold; text-decoration:none }
a:visited    { font-size:11pt; font-weight:bold; text-decoration:none}
a            { color: #FFFFFF; font-size: 11pt; font-weight: bold; text-decoration:none }
h1           { color: #FFFFFF; font-size: 11pt; font-weight: bold }
h2           { font-size: 11pt; color: #000000; font-weight: bold }
table        { font-size: 11pt; color: #00000; font-weight: normal; }
.THeader       {font-size: 12pt; color: #000990; font-weight: bold; padding-top:2px; padding-bottom:4px}
.Heading     { font-family: Arial Rounded MT Bold; font-size: 26pt; color: #000080; 
               font-weight: bold }
.Instruct     { font-size: 11pt; color: #000000; 
               font-weight:bold }
.menu         {cursor:hand;font-size:10pt;display:none;background:#B3C6EC; color:#000080; font-family:Arial Rounded MT Bold}